{% extends 'base.html' %}

{% block content %}
    {% if concretize(error) != "" %}
        <div> {{concretize(error)}} </div>
    {% endif %}
    <form role="form" method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}

      <h2 class="form-heading">Save a new site</h2>
      <div class="form-group">
        <label for="title" class="control-label">URL</label>
          <div class="row">
              <div class="col-xs-8">
                  <input class="form-control" type="text" name="url" id="url" value=""/>
              </div>
          </div>
        <label for="title" class="control-label">Username</label>
    	  <div class="row">
              <div class="col-xs-8">
                  <input class="form-control" type="text" name="username" id="username" value=""/>
              </div>
          </div>
          <label for="title" class="control-label">Password</label>
          <div class="row">
              <div class="col-xs-8">
                  <input class="form-control" type="password" name="password" id="password" value=""/>
              </div>
          </div>

        <button class="btn btn-primary" type="submit" value="Submit">Submit</button>
      </div>
    </form>

{% endblock %}

