{% extends 'base.html' %}
<div class="page-header">
      <h1>Welcome.</h1>
</div>

{% block content %}
    <table class="table">
        <tr>
            <td><strong>Site URL</strong></td>
            <td><strong>Site Username</strong></td>
            <td><strong>Site Password</strong></td>
        </tr>

    {% for p in concretize(passwords) %}
        <tr>
            <td> <a>{{concretize(p.site_url)}}</a></td>
            <td> {{concretize(p.site_username)}}</td>
            <td> {{concretize(p.site_password)}}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}

