{% extends 'base.html' %}
<div class="page-header">
      <h1>Passwords</h1>
</div>

{% block content %}
    <table class="table">
        <tr>
            <td><strong>Site URL</strong></td>
            <td><strong>Site Username</strong></td>
            <td><strong>Site Password</strong></td>
        </tr>

    {% for p in passwords %}
        <tr>
            <td> <a>{{p.site_url}}</a></td>
            <td> {{p.site_username}}</td>
            <td> {{p.site_password}}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}

